<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fl.dao.BookDao">
    <select id="findAll" resultType="Book">
        select * from book
    </select>

    <select id="findByName" resultType="Book">
        select * from book where name=#{name}
    </select>

    <delete id="delectById">
        delete from book where id=#{id}
    </delete>

    <select id="findById" resultType="Book">
        select * from book where id=#{id}
    </select>

    <insert id="addBook" >
        insert into book(name,author) values(#{name},#{author});
    </insert>

    <select id="findBookByAuthor" resultType="Book">
        select * from book where author=#{author};
    </select>

    <select id="findAuthorByBook" resultType="String">
        select author from book where name=#{bookName}
    </select>

    <select id="findInformationByName" resultType="Author">
        select * from author where name in
        <foreach collection="list" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

</mapper>